<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Создание нового поста</h1>
    <div class="mb-3">
      <label class="form-label" for="title">Название поста:</label>
      <input [ngClass]="form.get('title').touched && form.get('title').invalid ? 'is-invalid' : ''" class="form-control"
        id="title" type="text" formControlName="title">
      <div *ngIf="form.get('title').touched && form.get('title').invalid">
        <small class="text-danger" *ngIf="form.get('title').errors.required">
          Введите название поста
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Контент поста:</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">Создать пост</button>
  </form>
</div>
